* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #f5f5f5;
}
body {
  overflow-x: hidden;
}
/* Style Home page  */
.Home {
  width: 100vw;
  height: 100vh;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 29, 56, 0.7);
}

.overlay--container img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

.CarouselCaption {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #f5f5f5;
  font-weight: bold;
  width: 50%;
}

.CarouselCaption h5 {
  font-size: 3.5rem;
  font-weight: 800;
  color: f5f5f5;
}

.CarouselCaption span {
  color: #06BBCC;
}

.CarouselCaption p {
  color: #b6b6b6;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none !important;
}


/* Style CustomNavbar component  */
.Nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.Nav-links a {
  text-decoration: none;
  color: #06BBCC;
  font-weight: 600;
  font-size: 1rem;
  margin: auto 10px;
  transition: border-bottom 0.5s ease-in-out;
}

.Nav-links a:hover {
  border-bottom: 1px solid #06BBCC;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.Nav button{
  background-color: #06BBCC;
  padding: 0 6px;
}

/* Style About component */
.About {
  margin: auto !important;
  height: 30rem !important;
  background-color: #f5f5f5;
  border-radius: 10px;
  color: #52565b;
}

.About h1 {
  color: #181d38;
  font-weight: 700;
}

.About span {
  color: #06BBCC;
  font-size: 1.5rem;
  font-weight: 600;
}

.About .btn {
  border: 2px solid #06BBCC;
  background-color: #06BBCC;
  color: #fff;
}

.About .btn:hover {
  background-color: #1099a5;
  border: 2px solid #06BBCC;
  color: #fff;
}

.about-img {
  width: 100%;
  height: 100%;
}

.About img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

/* Style MyCourse page  */
.MyCourses{
  padding-top: 80px;
}

/* Style Course component  */
.Course .card-body {
  background-color: #f5f5f5;
}

 /* Style Footer  */
.Footer {
  background-color: #f5f5f5;
  text-align: center;
}

 /* Style AdminDashboard  */
.AdminDashboard img{
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.AdminDashboard h1{
  font-weight: 800;
}
.AdminDashboard .d-flex button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #06BBCC;
  border: none;
  font-size: 1.8rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

 /* Style AddCourse component  */
 .AddCourse,
 .EditCourse{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
 }
 .AddCourse::before,
 .EditCourse::before{
  content: '';
  position: absolute;
  background-color: #000000;
  top: -100%;
  width: 100vw;
  height: 220%;
  opacity: 0.7;
  z-index: -1;
 }
 .AddCourse form,
 .EditCourse form{
  background-color: #f5f5f5;
  width: fit-content;
  margin: auto;
  padding: 20px 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.363);
  text-align: center;
  border-radius: 5px;
 }
 .AddCourse form input,
 .EditCourse form input{
  margin: 10px 0;
 }
 .AddCourse .btn-wrong,
 .EditCourse .btn-wrong{
  border: none;
  position: relative;
  top: -10px;
  cursor: pointer;
 }

/* MediaQuery for tablet and smartphone width  */
@media (max-width: 765px) {

/* Style Navbar  */
  .Nav{
    position: fixed;
    background-color: #f5f5f5;
  }

  .Nav .navbar{
    padding: 0;
  }

  .Nav-links{
    padding-bottom: 10px ;
  }

  /* Style CarouselCaption  */
  .CarouselCaption {
    top: 25%;
    width: 90%;
  }

  .CarouselCaption h5 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  /* Style About  */
  .About {
    height: auto !important;
  }
  .About h1{
    font-size: 1.5rem;
    font-weight: 800;
  }

}
